/* fonts */
@font-face {
	font-family: 'bbcmode7';
	src: url('../fonts/bbcmode7.woff') format('woff'),
	     url('../fonts/bbcmode7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* reset */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
Header, section, footer, aside {
	display: block;
}

/* general styles */
html {
	font-family: 'bbcmode7', 'courier new', 'courier', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: #ffffff;
    background-color: black;
}

Header {
	position: absolute;
	top: -1000px;
}
a {
	text-decoration: none;
	color: inherit;
}
audio {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
}

#controls {
    text-align: center;
    vertical-align: top;
    color: black;
    font-size: .95em;
}
#controls table {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;
    border-spacing:15px;
}
#controls td {
    vertical-align:top;
}
#controls a {
    white-space: pre;
}

/* main page container */
#container {
	font-size: 1.25em;
	width: 100%;
	height: 40em;
	background-size: auto 100%;
	margin: -6em 0 0 0;
	padding: 8em 0 0 0;
	position: relative;
	overflow: hidden;
}

/* content bit */
#page {
	font-size: 1em;
	line-height: 1.23;
	display: table;
	margin: 0 auto 0 auto;
	-webkit-transform: scale(1.2,1);
	-moz-transform: scale(1.2,1);
	-ms-transform: scale(1.2,1);
	-o-transform: scale(1.2,1);
	transform: scale(1.2,1);
	cursor: default;
	letter-spacing: 0px;
}
#page.view {
	-webkit-transform: scale(1.2,1) perspective(1000px) rotateX(0.1deg) translateZ(1px);
	-moz-transform: scale(1.2,1) perspective(1000px) rotateX(0.1deg) translateZ(1px);
	-ms-transform: scale(1.2,1) perspective(1000px) rotateX(0.1deg) translateZ(1px);
	-o-transform: scale(1.2,1) perspective(1000px) rotateX(0.1deg) translateZ(1px);
	transform: scale(1.2,1) perspective(1000px) rotateX(0.1deg) translateZ(1px);
}
#page span, #page a {
	display: inline;
	vertical-align: top;
}
#page #pageContent {
	position: relative;
}
#page.view #pageContent span {
	border: none;
	margin: 0;
}

/* scanline/shading overlay */
#overlay, #overlaySvg {
	width: 52.2em;
	height: 39.2em;
	position: absolute;
	top: 5.2em;
	left: 50%;
	margin: 0 0 0 -25.6em;
	pointer-events: none;
}


/* black cover */
#loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
}

/* colours etc. */
.off {
	visibility: hidden;
}
.ink0 {
	color: rgb(56,56,56);
}
.ink1 {
	color: rgb(40,40,255);
}
.ink2 {
	color: rgb(255,16,16);
}
.ink3 {
	color: rgb(255,0,255);
}
.ink4 {
	color: rgb(0,255,0);
}
.ink5 {
	color: rgb(0,255,255);
}
.ink6 {
	color: rgb(255,255,0);
}
.ink7 {
	color: rgb(255,255,255);
}
.paper0 {
	background-color: transparent;
}
.paper1 {
	background-color: rgb(40,40,255);
}
.paper2 {
	background-color: rgb(255,16,16);
}
.paper3 {
	background-color: rgb(255,0,255);
}
.paper4 {
	background-color: rgb(0,255,0);
}
.paper5 {
	background-color: rgb(0,255,255);
}
.paper6 {
	background-color: rgb(255,255,0);
}
.paper7 {
	background-color: rgb(255,255,255);
}
.indent {
    margin-left: 1px;
}
.noindent {
    margin-left: 0px;
}


p.doubleHeight {
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scale(1,2);
	-moz-transform: scale(1,2);
	-ms-transform: scale(1,2);
	-o-transform: scale(1,2);
	transform: scale(1,2);
}
p.doubleHeight + p {
	visibility: hidden;
}

/* size adjustments */


@media only screen and (max-width:79.9em)  {
	#container {
		font-size: 1.125em;
	}
}
@media only screen and (max-width:63.9em)  {
	#container {
		font-size: 1em;
	}
}
@media only screen and (max-width:47.9em)  {
	#container {
		font-size: 0.91em;
	}
}
@media only screen and (max-width:40em)  {
	#container {
		font-size: 0.75em;
	}
}
@media only screen and (max-width:30em)  {
	#container {
		font-size: 0.6em;
	}
}
@media only screen and (max-width:25em)  {
	#container {
		font-size: 0.55em;
	}
}


/* adjustments for ultra low vertical position */
@media only screen and (max-height:35em) {
	#container {
		margin-top: -5em;
        font-size: .80em;
	}
}
