<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/de8dea96-ffaf-4c38-8061-06251de52813/resourceGroups/MyResourceGroup/providers/Microsoft.Web/sites/pagesfromceefax</ResourceId>
    <ResourceGroup>MyResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://pagesfromceefax.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://pagesfromceefax.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$pagesfromceefax</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>